<script src="~/Scripts/Streaming.js"></script>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-12" id="videoStream">
            <div class="row">
                <div style="margin: auto;width: 30%;">
                    <div class="form-group">
                        <button class="btn btn-success btn-block" id="startBtn" disabled="disabled">Start Call</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <video autoplay class="video mine" id="rtcVideo"></video>
                </div>
            </div>
        </div>
    </div>
</div>



